.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(180deg, rgba(187, 226, 105, 1) 0%, rgba(241, 255, 170, 1) 35%);
    box-shadow: 0px 0px 10px 4px rgba(187, 226, 105, 1);
    color: white;
    position: relative;
    transition: background 0.4s ease-in-out;
  }
  
  .logoBoxWrapper {
    display: flex;
    align-items: center;
  }
  
  .logoBox {
    display: flex;
    width: 50%;
  }
  
  .logoBox > .logoBoxWrapper {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  
  .logoBox > .logoBoxWrapper > img:first-child {
    width: 45px;
    height: fit-content;
    padding-right: 10px;
    /* animation: logoFadeIn 1s ease-in-out; */
  }
  
  .logoBox > .logoBoxWrapper > img:last-child {
    width: 75px;
    height: fit-content;
    /* animation: logoFadeIn 1s ease-in-out 0.2s; */
  }
  
  @keyframes logoFadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .headerIconBox {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
  }
  
  .headerIconBox > img {
    width: 30px;
    height: auto;
    padding-left: 10px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .headerIconBox > img:hover {
    transform: scale(1.1);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    opacity: 0;
    animation: fadeIn 0.4s forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Notification Box */
  .notificationBox {
    position: fixed;
    top: 0;
    right: -70vw;
    width: 70vw;
    height: 100vh;
    background-color: #fff;
    background: linear-gradient(180deg, rgba(241, 255, 170, 1) 0%, rgba(187, 226, 105, 1) 100%);
    color: #333;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease, box-shadow 0.4s ease;
    z-index: 100;
    padding: 20px;
    overflow-y: auto;
  }
  
  .notificationBox.open {
    right: 0;
  }
  
  .notificationHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .closeIcon {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  
  .closeIcon:hover {
    transform: rotate(180deg) scale(1.1);
  }
  
  .notificationTitle {
    font-size: 24px;
    color: #016c81;
    margin: 0;
  }
  
  .notificationList {
    list-style: none;
    padding: 0;
    padding-top: 10px;
  }
  
  .notificationItem {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideInUp 0.5s ease;
  }
  
  @keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .noNotification {
    font-size: 16px;
    color: #999;
    text-align: center;
    margin-top: 20px;
    animation: fadeIn 0.4s ease;
  }
  