/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
#root {
  background: linear-gradient(180deg, rgb(113 163 8) 10%, rgb(193 221 45) 32%);
  position: relative;
  height: calc(100vh - env(safe-area-inset-top));
  padding-bottom: env(safe-area-inset-bottom);
}